.header {
  width: 230px;
  @extend .flex-center;
  align-items: flex-start;

  .side {
    @extend .flex-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    flex-wrap: nowrap;
    max-width: 230px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .12);

    .line {
      background: $main;
      height: 2px;
      width: 60px;
      margin: 40px 0 15px;
    }

    .top {
      box-sizing: border-box;
      padding: 30px 20px 10px;
    }

    .bottom {
      width: 100%;

      .line {
        margin: 40px auto 15px;
      }

      .link-wrap {
        @extend .flex-around;
      }
    }

  }

  .login-wrap {
    @extend .flex-center;
    width: 100%;
    background: $main;
    border-radius: 30px;
    padding: 7px 20px;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    margin: 40px 0 20px;
    box-sizing: border-box;

    a {
      color: $white;
    }
  }

  img {
    height: 100px;
    padding: 10px;
  }

  .nav-wrap {


    .nav {
      @extend .flex-center;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;

      a {
        text-decoration: none;
        @extend .cursor-pointer;
        margin: 6px 0;
        font-size: 18px;
      }
    }
  }

  .social {
    @extend .flex-center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .line {
      background: $main;
      height: 2px;
      width: 60px;
      margin: 40px 0 15px;
    }

  }

  #loginForm {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: 0.5s;
    background: $main;
    z-index: 999;
  }

  .form {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
    max-width: 550px;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .form-wrap {
      @extend .flex-center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      box-sizing: border-box;
    }

    .close-container {
      @extend .flex-between;
      width: 100%;
      margin-bottom: 50px;
    }

    .close {
      @extend .main-button;
      padding: 10px;
      width: 25px;
      height: 25px;
      min-width: unset;

    }
  }

  .search {
    @extend .flex-center;
    align-items: center;
    margin-top: 40px;
    width: 600px;
    padding: 0 10px;
    border-radius: 30px;
    right: auto;
    bottom: auto;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;

    input.search-input {
      padding: 10px 20px;
      outline: none;
      height: 100%;
      border: none;
      font-size: $font * 0.16;
      background: transparent;
      color: $black;
      width: 90%;
      font-size: 18px;
    }

    i {
      color: $grey-dark;
      font-size: 24px;
      width: 30px;
    }



    .at-resp-share-element .at-share-btn {
      margin: 0 2px 0px;
      outline: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .header {
    max-width: 0px;
    overflow: hidden;
    transition: 0.4s;

    .side {
      max-width: 0px;
      padding: 0px;
      overflow: hidden;
      transition: 0.4s;
    }
  }
}
